header 
    min-height: calc(100vh - 74px)
    // margin-top: 74px
    background-image: url('https://technext.github.io/creative-2/assets/img/bg-masthead.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover

    .img-cover
        background-color: rgba(92, 77, 66, 0.8)

    .row 
        height: calc(100vh - 74px)
    
    .header-text
        h1
            font-size: 3rem

        .divider
            color: $main-orange
            height: 5px
            width: 60px
            margin: 30px

        p 
            font-size: 1.15rem
            color: rgba(255, 255, 255, 0.75)

        a 
            color: white
            background-color: $main-orange
            margin-top: 30px
            transition: .2s
            color: white

        a:hover
            background-color: #cf5331
            color: white